{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
password reset
{% endblock title %}

{% block body %}
        <h1> Reset </h1>
            <p>
                {% blocktrans %}
                If you forgot your password, enter your email address in the form to send you instructions.
                {% endblocktrans %}
            </p>
            <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                    <p>{{ form.email }}</p>
                <input type="submit" value="Reset password">
            </form>

{% endblock body %}