{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
Password reset
{% endblock title %}

{% block body %}
        <h1> Reset </h1>
            <p>
                {% blocktrans %}
                If you forgot your password, enter your email address in the form to send you instructions.
                {% endblocktrans %}
            </p>
            <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                    <p>{{ form.email }}</p>
                    <a href="{% url 'accounts:password_reset_done' %}" class="btn btn-secondary">Reset password</a>
            </form>

{% endblock body %}