{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
Customer
{% endblock title %}

{% block body %}
<h1>Покупатель</h1>
<div class="container">
<div class="row">
<div class="col-md-auto">
<table border="1" class="table table-bordered table-striped-columns">
<thead>
<tr>
<th> Пользователь </th>
<th> Телефон</th>
<th> Страна</th>
<th> Город</th>
<th> Индекс</th>
<th> Адрес 1</th>
<th> Адрес 2</th>
<th> Информация</th>
</tr>
</thead>
<tbody>
{% for obj in object_list %}
<tr>
<td> {{ obj.user }} </td>
<td> {{ obj.phone }} </td>
<td> {{ obj.country }} </td>
<td> {{ obj.city }} </td>
<td> {{ obj.zip_code }} </td>
<td> {{ obj.address1 }} </td>
<td> {{ obj.address2 }} </td>
<td> {{ obj.information }} </td>
</tr>
{% endfor %}
</tbody>
</table><br>
</div>
</div>
</div>
   
{% endblock body %}
{% block footer %}

{% endblock footer %}