{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Home page
{% endblock title %}

{% block body %}
<h1 class="featurette-Заголовок">Livebook</h1>
<h4><span class="text-muted">книжный интернет-магазин</span></h4>

<hr class="featurette-divider">

<div class="row featurette">
<div class="col-md-7">
<p class="fw-lighter" class="text-sm-start"> Книги выбирать интересней всей семьей. Уютно
устроившись перед монитором, начинайте прогулку по
виртуальным книжным полкам. Страницы магазина
устроены так просто, что выбор сделать может даже
ребенок, с вашей небольшой помощью. Тут же на месте
вы сможете узнать новости об изменении цен и
приятных бонусах. Мы сотрудничаем со многими издательствами, как отечественными, так и зарубежными, придерживаемся современных тенденций по выборке и выкладке товара, стараемся использовать индивидуальный подход к каждому нашему покупателю и обеспечить достойный сервис.</p>
</div>
<div class="col-md-5">
<img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="media/kniga.jpeg"  class="img-fluid" alt="">
</div>
</div>
{% csrf_token %}
<div class="container">
<div class="row">
{% for element in object_list %}
  <div class="card" style="width: 14rem;">
    {% if element.cover %}
      <img src="{{ element.cover.url }}" class="card-img-top" alt="..." width="200" height="400">
    {% else %}
      <img src="" class="card-img-top" alt="..."  width="200" height="400">
    {% endif%}
    <div class="card-body">
      <h5 class="card-title">{{ element.name }}</h5>
      <p class="card-text">{{ element.authors }}</p>
      <a href="{% url 'product_card:book-detail' pk=element.pk %}" class="btn btn-primary"></a>
    </div>
  </div>
  {% endfor %}



{% endblock body %}

{% block footer %}

{% endblock footer %}

